.conteneur {
    display: grid;
    grid-template-areas: "un deux trois"
                         "un deux trois"
                         "un quatre quatre";
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-auto-rows: repeat(3, 1fr);
    
}

.conteneur>div {
    border: 1px solid red;
    text-align: center;
}

#un {
    grid-area: un;
}

#deux{
    grid-area: deux;
    height: 200px;
}

#trois{
    grid-area: trois;
}

#quatre{
    grid-area: quatre;
}