<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="percentage.css">
  <title>Largeur en pourcentage</title>
</head>

<body>
  <section>
    <h3> Boîte interne avec une longueur à 100%</h3>
    <div id="externe">
      <div id="interne"></div>
    </div>
  </section>

  <section>
    <h3> Avec un élément intermédiaire</h3>
    <div id="externeL">
      <div id="interL">
        <div id="interneL"></div>
      </div>
    </div>
  </section>

</body>

</html>